{% extends "base.html" %}

{% block content %}
<h1>Bokning {{user}} {{datum}}</h1>
<div style="margin-bottom: 20px;"></div>
<div style="margin-bottom: 20px;"></div>
<form method="post" >
    <input type="hidden" name="booking_id" value="{{ current.pk }}">
    {% if current %}
    <p>Bokningar:<br/>{{current}}</p>
    <div style="margin-bottom: 20px;"></div>
    <h3>Vill du avboka det boendet?</h3>
    <div style="margin-bottom: 20px;"></div>
    {% endif %}

    {% if available %}
    <h2>Boende: {{available}}</h2>
    {% endif %}

    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="userid" value="{{ user.pk }}">
    <input type="submit" value="Bekräfta">
</form>

{% endblock %}