{% extends "main.html" %} {%block content %}

<form id="changelist-form" method="post" action="{% url 'index_view' %}">
  {% csrf_token %} {%for host in hosts%}
  <div class="results">
    <table id="result_list">
      <tbody>
        <tr>
          <td class="action-checkbox">
            <input
              type="checkbox"
              name="_selected_action"
              value="{{"
              host.id
              }}
              class="action-select"
              aria-label="Select this object for an action - Stadsmissionen, Skövde: 2 platser (0 reserverade totalt)"
            />
          </td>
          <th class="field-__str__">
            <a href="/book/{{ host.id }}"
              >{{ host.host_name }} {{ host.city }}</a
            >
          </th>
        </tr>
        {%endfor %}
      </tbody>
    </table>
  </div>
  <input type="submit" value="Välj" />
</form>
{%endblock %}
