<h1>Sleeping Spaces</h1>
<table>
    <tr>
        <th>Bed Type</th>
        <th>Room Location</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for space in sleeping_spaces %}
    <tr>
        <td>{{ space.bed_type }}</td>
        <td>{{ space.room_location }}</td>
        <td>{{ space.status }}</td>
        <td>
            <a href="{% url 'update_sleeping_space' space.pk %}">Edit</a> |
            <a href="{% url 'delete_sleeping_space' space.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'create_sleeping_space' %}">Create New Sleeping Space</a>
